
          <div class="card text-center">
        <img src="../assets/piggy-bank-logo-01.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5>Welcome to your Virtual Bank.
          </h5>
          <p>A financial app for kids! Where Kids can develop healthy money habits by learning how to track their spending and saving to reach their goals. With a simplified user interface, kids can begin to develop financial literacy.
          </p>
          <a href="/fund" class="btn btn-primary bg-success text-white">click here to start</a>
        </div>
              </div>

    