    <div class="container mt-n1">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div
              class="chart-container"
              style="position: relative; height: 40%; width: 50%"
            >
              <canvas id="myChart"></canvas>
              <script>
                const ctx = document.getElementById("myChart").getContext("2d");
                const myChart = new Chart(ctx, {
                  type: "pie",
                  data: {
                    labels: ["Movies", "Toys", "video Games", "Candy", "book"],
                    datasets: [
                      {
                        label: "Expances",
                        data: [12, 19, 3, 5, 2],
                        backgroundColor: [
                          "rgb(255, 99, 132)",
                          "rgb(54, 162, 235)",
                          "rgb(255, 205, 86)",
                          "rgb(29, 230, 70)",
                          "rgb(210, 29, 230)",
                        ],
                        borderWidth: 1,
                      },
                    ],
                  },
                });
              </script>
            </div>
          </div>
          <div class="form-group form-check">
                             
          </div>
          <div class="row">
            <div class="col-8 col-sm-6">
              <input type="text" class="form-control form-control-lg" placeholder="Item name">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg" placeholder="Price">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-sm">+</button>
              </div>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>A list item</p>
                  <span class="badge badge-secondary badge-pill">1</span>
                  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>second list item</p> 
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                 <p>A third list item</p> 
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </ul>
            </div>
            <div class="form-group form-check">
                             
            </div>
         
        <div class="col">
          <button type="button" class="btn btn-primary btn-sm">Your balance 🎉 $$</button>
        </div>
              </div>
    </div>
