.card-body{
  background-color: #fef2edff ;
}
.btn {
  background-color: #0e9119;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 28px;
  background-color: #e7e7e7;
  color: black;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
    .demo-card-wide.mdl-card {
      width: 512px;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fef2edff;
      height: 350px;
      background: url('../assets/piggy-bank-logo-01.png') center / cover;
    }
    .mdl-card__supporting-text {
        background-color:#fef2edff;
        color: black;
    }
    .mdl-button--colored{
        background-color: rgb(102, 146, 25);
        color: black;
     
    }
    .col-lg-6,
    .card-app
    {
      padding: 70px;
    }
    